@import 'settings';
@import 'functions';

$baseFontSize: 30px;
$imgDir : "../images/";
$brandColor: #f00;
$debugMode: true;
$animals: (dog, cat, bird, fish);

#main {
  width: 90%;
  background: url("#{$imgDir}bg.jpg") no-repeat;
  p {
    font-size: $baseFontSize;
    @if ($debugMode) {
      color: lighten($brandColor, 30%); // darken
    } @else {
      color: green;
    }
    a {
      text-decoration: none;
      &:hover {
        font-weight: bold;
        font-size: #{12 + 2}px;
      }
    }
  }
  .sub {
    font-size: $baseFontSize - 10px;
  }

  // for and while
  @for $i from 10 through 14 {
    .size-#{$i} { font-size: #{$i}px }
  }

  $i: 20;
  @while $i <= 24 {
    .size2-#{$i} { font-size: #{$i}px }
    $i: $i + 1;
  }

  // list
  @each $animal in $animals {
    .#{$animal}-icon {
      background-image: url("#{$imgDir}#{$animal}.png");
    }
  }

  .grid {
    float: left;
    width: getColumnWidth($totalWidth, $columnCount);
  }
}